.c {
  height: 50vh;
  position: relative;
  background-color: bisque;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-title {
  flex: 1;
  text-align: center;
  font-size: 3em;
}

.c-info {
  flex: 1;
  text-align: center;
}

.icon-links {
  display: flex;
  flex: 1;
  justify-content: center;
}

.icon {
  margin: 10px;
}

.resumeLink {
  font-size: 30px;
  font-weight: 300;
}
